<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - VoeMais</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">VoeMais</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="EmpresaAerea" asp-action="Index">Empresas Aéreas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Aeroporto" asp-action="Index">Aeroportos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Aeronave" asp-action="Index">Aeronaves</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Voo" asp-action="Index">Voos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Escala" asp-action="Index">Escalas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Passageiro" asp-action="Index">Passageiros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Poltrona" asp-action="Index">Poltronas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Passagem" asp-action="Index">Passagens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="VooEscala" asp-action="Index">Voo x Escala</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        @RenderBody()
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
