@{
    ViewData["Title"] = "Menu do Sistema";
}

<h2>Sistema Gerenciador de Aeroportos ✈</h2>
<h2>Bem-vindo ao Sistema VoeMais ✈</h2>
<p>Escolha uma opção no menu lateral.</p>
<hr />

<ul style="font-size:18px; line-height:32px;">
    <li><a href="/Aeroporto">Aeroportos</a></li>
    <li><a href="/EmpresaAerea">Empresas Aéreas</a></li>
    <li><a href="/Aviao">Aviões</a></li>
    <li><a href="/Poltrona">Poltronas</a></li>
    <li><a href="/Voo">Voos</a></li>
    <li><a href="/Escala">Escalas</a></li>
    <li><a href="/Cliente">Clientes</a></li>
    <li><a href="/Passagem">Passagens</a></li>
</ul>
