@model VoeMais.Models.Passageiro
@{
    ViewData["Title"] = "Criar Passageiro";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="IdPassageiro" class="form-label">ID</label>
        <input asp-for="IdPassageiro" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Nome" class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="DataNascimento" class="form-label">Nascimento</label>
        <input asp-for="DataNascimento" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Sexo" class="form-label">Sexo</label>
        <input asp-for="Sexo" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Cpf" class="form-label">CPF</label>
        <input asp-for="Cpf" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Rg" class="form-label">RG</label>
        <input asp-for="Rg" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="EstadoCivil" class="form-label">Estado Civil</label>
        <input asp-for="EstadoCivil" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Nacionalidade" class="form-label">Nacionalidade</label>
        <input asp-for="Nacionalidade" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="MalaDeMao" class="form-label">Mala de Mão</label>
        <input asp-for="MalaDeMao" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="MalaParaDespache" class="form-label">Mala Despachada</label>
        <input asp-for="MalaParaDespache" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Preferencial" class="form-label">Preferencial</label>
        <input asp-for="Preferencial" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Telefone" class="form-label">Telefone</label>
        <input asp-for="Telefone" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
